{% extends 'qa/base.html' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hot</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for question in question_list %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                <div class="row">
                                    <div class="col">
                                        {{ question.votes }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small>votes</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col">
                                        {{ question.answer_set.count }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small>answers</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <a href="#">{{ question.header }}</a>
                                    </div>
                                </div>
                                {% if question.tag_set.count %}
                                    <div class="row">
                                        <div class="col">
                                            {% for tag in question.tag_set.all %}
                                                <a href="#" class="badge badge-pill badge-primary">#{{ tag }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col">
                                        <a href="#"><i class="fas fa-user"></i> {{ question.author }}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small>{{ question.pub_date|timesince }} ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}